<div class="login-container">
  <a class="action-button" routerLink="goBack()" (click)="goBack()">Back</a>

  <p>Please enter your login details:</p>
  <form [formGroup]="loginRef" (ngSubmit)="LoginButton()">
    <div class="form-group">
      <label for="floatingInput">Email:</label>
      <input
        type="email"
        id="floatingInput"
        class="form-input"
        placeholder="User@gmail.com"
        required=""
        formControlName="emailid"
      />
    </div>
    <div class="form-group">
      <label for="floatingPassword">Password:</label>
      <input
        type="password"
        id="floatingPassword"
        class="form-input"
        placeholder="Password"
        required=""
        formControlName="password"
      />
    </div>
    <button class="action-button" type="submit">Login</button>
  </form>
  <span class="error-message">{{ msg }}</span>
</div>
