<p>login works!</p>
<form [formGroup]="loginRef" (ngSubmit)="LoginButton()">
    <div class="form-floating">
    <input type="email" id="floatingInput" class="form-control" placeholder="Email address" required="" formControlName="emailid">
    </div>
    <div class="form-floating">
    <input type="password" id="floatingPassword" class="form-control" placeholder="Password" required="" formControlName="password">
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>


    </form>
    <span style="color: red;">{{msg}}</span>